<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor), class: "ui button blue" %>
<hr />

<h2>Appointment Info </h2>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= appointment.patient.full_name %>
      <%= appointment.date %>
      <%= appointment.time %>
      <br />
      
    </li>
  <% end %>
